<div>
  <div style="display: flex; flex-direction: row;">
    <div style="width: 500px; padding: 5px;">
      <div style="height: 500px;">
        <n52-geometry-map-viewer [mapOptions]="mapOptions" [fitBounds]="fitBounds" [zoomControlOptions]="zoomControlOptions"
          [overlayMaps]="overlayMaps" [baseMaps]="baseMaps" mapId="{{mapId}}"></n52-geometry-map-viewer>
      </div>
    </div>
    <div style="padding: 5px;">
      <div *ngFor="let layer of overlayMaps | getValues" style="padding: 5px;" (click)="toggleVisibility(layer.key)" onmouseover="this.style.cursor='pointer'">
        <input type="checkbox" [checked]="layer.value.visible" />
        <span for="">{{layer.key}}</span>
        <div style="padding-left: 20px;">
          <img src="{{getLegendUrl(layer.value)}}" />
        </div>
      </div>
    </div>
  </div>
</div>
